name: Test and lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel coverage[toml]
      - name: Run tests
        run: |
          coverage run -m unittest -v
          coverage report
      - name: Install linting tools
        run: |
          pip install black mypy
      - name: Run style check
        run: |
          black --check pychord test
      - name: Run type check
        run: |
          mypy pychord
